#!/usr/bin/env python

import sys
sys.path.insert(0, "lib/wokkel")
sys.path.insert(0, 'lib/twisted-gears')
sys.path.insert(0, "lib")

from twisted.application import service
from twisted.internet import task, reactor
from twisted.words.protocols.jabber import jid
from twisted.web import client
from wokkel.client import XMPPClient
from wokkel.generic import VersionHandler
from wokkel.keepalive import KeepAlive
from wokkel.disco import DiscoHandler

from gmailnotify import xmpp_protocol
from gmailnotify import gear_client

account = "yourmail@gmail.com"
password = "yourpassword"

gear_client.connect()

application = service.Application("GmailNotify")

xmppclient = XMPPClient(jid.internJID(account), password)
xmppclient.logTraffic = False


handler = xmpp_protocol.GMailNotifierProtocol(account)
handler.setHandlerParent(xmppclient)

KeepAlive().setHandlerParent(xmppclient)
xmppclient.setServiceParent(application)
